@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootswatch/dist/united/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.min.css";

a {
  cursor: pointer;
}
